- @title = "About"

%h1 Impressum

= raw @impressum

%h2 FAQ

.panel.panel-primary
  .panel-heading
    %h3.panel-title Was ist #{Setting.short_name}
  .panel-body
    = raw Setting.explanation

.panel.panel-primary
  .panel-heading
    %h3.panel-title Wie funktioniert das Ranking?
  .panel-body
    %p Regelmäßig wird überprüft, wie oft der Beitrag im Social-Media geteilt wurde. Außerdem hat jede Quelle einen Standard-Bias der auf der Anzahl der veröffentlichten News basiert (Quellen mit sehr vielen Publikationen oder sehr großer Reichweite erhalten einen Malus, vertrauenswürdige fokussierte Blogs einen Bonus)
    %pre
      Basis-Punkte = Bias + Xing * 3 + Linkedin * 2 + retweets + facebook / 2 + GooglePlus
    Dieser Wert wird dann mit der "Freshness" multipliziert, d.h. das Alter der News. Dieser geht von 1.0 (gerade publiziert) bis 0.0 (vor 14 Tagen publiziert).

.panel.panel-primary
  .panel-heading
    %h3.panel-title Eine Quelle fehlt, wie kann ich diese aufnehmen lassen?
  .panel-body
    Schreiben Sie mir eine
    = mail_to Setting.email, subject: "#{Setting.short_name}: Neue Quelle" do
      eMail


.panel.panel-primary
  .panel-heading
    %h3.panel-title Wer steckt dahinter?
  .panel-body
    = raw Setting.credits


%h2 Datenschutzerklärung

%p Wir legen größten Wert auf den Schutz Ihrer Daten und die Wahrung Ihrer Privatsphäre. Nachstehend informieren wir Sie deshalb über die Erhebung und Verwendung persönlicher Daten bei Nutzung unserer Webseite.
%h4 Anonyme Datenerhebung

%p Sie können unsere Webseite besuchen, ohne Angaben zu Ihrer Person zu machen. Wir speichern in diesem Zusammenhang keinerlei persönliche Daten. Um unser Angebot zu verbessern, werten wir lediglich statistische Daten aus, die keinen Rückschluss auf Ihre Person erlauben."
%h4 Erhebung, Verarbeitung und Nutzung personenbezogener Daten

%p Wir erheben personenbezogene Daten (Einzelangaben über persönliche oder sachliche Verhältnisse einer bestimmten oder bestimmbaren natürlichen Person) nur in dem von Ihnen zur Verfügung gestellten Umfang. Die Verarbeitung und Nutzung Ihrer personenbezogenen Daten erfolgt zur Erfüllung und Abwicklung der vertraglich vereinbarten Leistungen sowie zur Bearbeitung Ihrer Anfragen. Nach vollständiger Vertragsabwicklung werden die Daten zunächst unter Berücksichtigung steuer- und handelsrechtlicher Aufbewahrungsfristen gespeichert und dann nach Fristablauf gelöscht, sofern Sie der weitergehenden Verarbeitung und Nutzung nicht zugestimmt haben.
%h4 Weitergabe personenbezogener Daten

Eine Weitergabe Ihrer Daten an Dritte ohne Ihre ausdrückliche Einwilligung erfolgt nicht. Ausgenommen hiervon sind lediglich unsere Dienstleistungspartner, die wir zur Abwicklung des Vertragsverhältnisses benötigen. In diesen Fällen beachten wir strikt die Vorgaben des Bundesdatenschutzgesetzes. Der Umfang der Datenübermittlung beschränkt sich auf ein Mindestmaß.
Verwendung der Emailadresse für die Zusendung von Newslettern

Wir nutzen Ihre Emailadresse unabhängig von der Vertragsabwicklung ausschließlich für eigene Werbezwecke zum Newsletterversand, sofern Sie dem ausdrücklich zugestimmt haben. Ihre diesbezüglich abzugebende Einwilligungserklärung lautet wie folgt: "Newsletter bestellen". Sie können den Newsletter jederzeit unter Nutzung des entsprechenden Link im Newsletter oder durch Nachricht an uns abbestellen, die Kontaktdaten hierzu finden Sie in unserem Impressum. Ihre Emailadresse wird danach gelöscht.
%h4 Cookies

Unsere Internetseiten verwenden an mehreren Stellen so genannte Cookies. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert. Sie dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen. Des Weiteren ermöglichen Cookies unseren Systemen, Ihren Browser zu erkennen und Ihnen Services anzubieten. Cookies enthalten keine personenbezogenen Daten.

%h4 Nutzung von Piwik

Auf dieser Website werden mit Hilfe der Webanalyse-Software Piwik (www.piwik.org) Daten erhoben und gespeichert, aus denen unter Verwendung von Pseudonymen Nutzungsprofile erstellt werden. Diese Nutzungsprofile dienen der Analyse des Besucherverhaltens und werden zur Verbesserung und bedarfsgerechten Gestaltung unseres Angebots ausgewertet. Hierzu können Cookies eingesetzt werden. Dies sind kleine Textdateien, die lokal auf dem Endgerät des Seitenbesuchers gespeichert werden und so eine Wiedererkennung beim erneuten Besuch unserer Website ermöglichen. Die pseudonymisierten Nutzungsprofile werden ohne eine gesondert zu erteilende, ausdrückliche Einwilligung nicht mit personenbezogenen Daten über den Träger des Pseudonyms zusammengeführt. Der Datenerhebung und -speicherung können Sie jederzeit mit Wirkung für die Zukunft widersprechen, indem Sie den nachfolgenden Anweisungen folgen.

Widerspruch

Nach Ihrem Widerspruch wird ein Opt-Out-Cookie auf Ihrem Endgerät abgelegt. Löschen Sie Ihre Cookies, müssen Sie den Link erneut klicken.

<iframe style="border: 0; height: 200px; width: 600px;" src="http://tools.stefanwienert.de/piwik/index.php?module=CoreAdminHome&amp;action=optOut&amp;language=en"></iframe>

%h4 Auskunft, Berichtigung, Sperrung und Löschung von Daten

Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten Daten sowie das Recht auf Berichtigung, Löschung bzw. Sperrung. Kontaktieren Sie uns auf Wunsch. Die Kontaktdaten finden Sie in unserem Impressum.

