- content_for :title, "About"

%h1 Impressum

%p
  Stefan Wienert
  Dresden

%p
  E-Mail: #{Configuration.email}
  %br
  Internet: http://#{Configuration.host}

%p
  Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV: #{Configuration.person}

%p
  Haftungshinweis: Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir, die Betreiber dieser Webseite und deren Unterseiten (Subdomains) keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.

%h2 FAQ

.panel.panel-primary
  .panel-heading
    %h3.panel-title Was ist #{Configuration.short_name}
  .panel-body
    = raw Configuration.explanation

.panel.panel-primary
  .panel-heading
    %h3.panel-title Wie funktioniert das Ranking?
  .panel-body
    %p Regelmäßig wird überprüft, wie oft der Beitrag im Social-Media geteilt wurde. Außerdem hat jede Quelle einen Standard-Bias der auf der Anzahl der veröffentlichten News basiert (Quellen mit sehr vielen Publikationen oder sehr großer Reichweite erhalten einen Malus, vertrauenswürdige fokussierte Blogs einen Bonus)
    %pre
      Basis-Punkte = Bias + Xing * 3 + Linkedin * 2 + retweets + facebook / 2 + GooglePlus
    Dieser Wert wird dann mit der "Freshness" multipliziert, d.h. das Alter der News. Dieser geht von 1.0 (gerade publiziert) bis 0.0 (vor 14 Tagen publiziert).

.panel.panel-primary
  .panel-heading
    %h3.panel-title Eine Quelle fehlt, wie kann ich diese aufnehmen lassen?
  .panel-body
    Schreiben Sie mir eine
    = mail_to Configuration.email, subject: "#{Configuration.short_name}: Neue Quelle" do
      eMail


.panel.panel-primary
  .panel-heading
    %h3.panel-title Wer steckt dahinter?
  .panel-body
    = raw Configuration.credits
