.page-header
  %h1 Quellen
- Source.order("LOWER(name)").each do |source|
  .source.row
    .col-sm-8
      = render "news_items/source", source: source
      - if source.is_a? TwitterSource
        %pre
          https://twitter.com/#{source.name}
      - else
        %pre
          = source.url
    .col-sm-4
      %table.table
        %tbody
          %tr
            %th Aktuelle News:
            %td=source.news_items.home_page.count
          %tr
            %th News insgesamt:
            %td=source.news_items.count
          %tr
            %th News pro Woche:
            %td
              = source.news_items.count / source.age_in_weeks


= link_to "mailto:stwienert@gmail.com?subject:HRfilter.de%20Fehlende%20Quelle", class: "btn btn-primary btn-large" do
  Fehlt eine Quelle? Schreib mir eine Mail!
