- content_for :title, "HRfilter.de"

%p Die wichtigsten aktuellen HR und Personalnachrichten aus <a href='#{sources_path}'>bekannten deutsch- und englischsprachigen Blogs und Newsquellen</a> - Gebündelt und sortiert nach Relevanz

.btn-group#settings
  %a.btn.btn-large.dropdown-toggle(href="#")
    Sortieren
    %i.icon-cogs(title="Einstellungen")
    %span.caret
  %ul.dropdown-menu
    %li
      %input.slide.span4(name="freshness" type="range" step="1" value="100" max="100" min="0")
      %i.icon-time
      Freshness
    %li
      %input.slide.span4(name="facebook" type="range" value="10" max="100" min="0")
      %i.icon-facebook
      Facebook
    %li
      %input.slide.span4(name="twitter" type="range" value="30" max="100" min="0")
      %i.icon-twitter
      Twitter
    %li
      %input.slide.span4(name="xing" type="range" value="100" max="100" min="0")
      %i.icon-xing
      XING
    %li
      %input.slide.span4(name="linkedin" type="range" value="50" max="100" min="0")
      %i.icon-linkedin
      Linkedin
    %li
      %input.slide.span4(name="gplus" type="range" value="50" max="100" min="0")
      %i.icon-google-plus-sign
      Google+
    %li
      %input.slide.span4(name="wlength" type="range" value="50" max="100" min="0")
      %i.icon-file-text-alt
      Wortlänge

.btn-group#filter
  %a.btn.btn-large.dropdown-toggle(href="#")
    Filter
    %i.icon-filter(title='Filter')
    %span.caret
  %ul.dropdown-menu
    -Category.all.each do |category|
      %li
        = check_box_tag "category[]", category.id, true, id: "category_#{category.id}"
        = label_tag "category_#{category.id}" do
          = category.name
    %li
      = check_box_tag "category[]", 'false', true, id: "category_false"
      = label_tag "category_false" do
        Ohne
#items
  = render @news_items

