.panel.panel-default
  .panel-heading
    %h3.panel-title
      = link_to feed_source_item.url, target: '_blank', title: feed_source_item.title do
        = truncate(feed_source_item.title, length: 60)
  .panel-body
    %p.source
      = render "news_items/source", source: feed_source_item.source
      &ndash;
      %span.date(data-time="#{feed_source_item.published_at.to_i}" title="#{l feed_source_item.published_at}")
        = l feed_source_item.published_at, format: :short

    = feed_source_item.teaser
    .fog-fade

  .panel-footer
    %small.categories
      = feed_source_item.categories.pluck(:name).to_sentence
    = render 'news_items/share', item: feed_source_item
