- cache news_item do
  .item{data: news_item.to_data }
    %h3.title
      = link_to news_item.url do
        = news_item.title
    .sub
      = render "news_items/source", source: news_item.source
      &ndash;
      %span.date(data-time="#{news_item.published_at.to_i}" title="#{l news_item.published_at}")
        = l news_item.published_at, format: :short

      &ndash;
      %span.categories
        = news_item.categories.pluck(:name).to_sentence


    .body
      = news_item.teaser
    %ul.share.inline
      %li
        %i.icon-facebook
        = news_item.fb_likes
      %li
        %i.icon-twitter
        = news_item.retweets
      %li
        %i.icon-linkedin
        = news_item.linkedin
      %li
        = image_tag "xing-16.png", style: "margin-top: -3px"
        = news_item.xing
      %li
        %i.icon-google-plus
        = news_item.gplus


