- feed_source_item = podcast_source_item
- cache feed_source_item do
  .item{data: feed_source_item.to_data }
    %h3.title
      .icon-volume-up.icon-large
      = link_to feed_source_item.url do
        = feed_source_item.title
    .sub
      = render "news_items/source", source: feed_source_item.source
      &ndash;
      %span.date(data-time="#{feed_source_item.published_at.to_i}" title="#{l feed_source_item.published_at}")
        = l feed_source_item.published_at, format: :short

      &ndash;
      %span.categories
        = feed_source_item.categories.pluck(:name).to_sentence
    .body
      = feed_source_item.teaser
    = render "news_items/source", source: feed_source_item.source
