.categories
  - if item.fb_likes
    - if item.fb_likes > 0
      %span.label.label-default(title='Facebook likes')
        %i.fa.fa-facebook
        = item.fb_likes
    - if item.retweets.to_i > 0
      %span.label.label-default(title='Twitter favs + retweets')
        %i.fa.fa-twitter
        = item.retweets
    - if item.linkedin > 0
      %span.label.label-default(title='LinkedIn shares')
        %i.fa.fa-linkedin
        = item.linkedin
    - if item.xing > 0
      %span.label.label-default(title='XING shares')
        %i.fa.fa-xing
        = item.xing
    - if item.gplus > 0
      %span.label.label-default(title='G+ likes')
        %i.fa.fa-google-plus
        = item.gplus
    - if item.reddit.to_i > 0
      %span.label.label-default(title='Reddit score (kum.)')
        %i.fa.fa-reddit-square
        = item.reddit
    - if item.word_length > 0
      %span.label.label-default(title='Anzahl Worte (ca.)')
        %i.fa.fa-file-text-o
        = item.word_length
.categories
  - if item.referenced_news.count > 0
    %span.label.label-default(title='Verlinkt von anderen Quellen')
      %i.fa.fa-link.fa-fw
      - item.referenced_news.each do |ni|
        = link_to ni.url, target: '_blank', title: "#{ni.title} - #{ni.source.name}", data: { proxy: click_proxy_path(ni) } do
          = image_tag ni.source.logo.url(:small), size: '16x16', alt: truncate(ni.source.name, length: 20)
