.panel.panel-default.panel-twitter
  .panel-heading
    .pull-right
      %i.fa.fa-twitter.fa-lg
    = render "news_items/source", source: twitter_source_item.source, size: '30x30'
  .panel-body
    %p.source
      = twitter_source_item.source.name
      &ndash;
      %span.date(data-time="#{twitter_source_item.published_at.to_i}" title="#{l twitter_source_item.published_at}")
        = l twitter_source_item.published_at, format: :short

    %blockquote.twitter-tweet
      = auto_link twitter_source_item.title.html_safe, link: :all, html: {target:"_blank", rel:"nofollow"}
    = link_to 'auf Twitter', twitter_source_item.url

  .panel-footer
    %small.categories
      = twitter_source_item.categories.pluck(:name).to_sentence
    = render 'news_items/share', item: twitter_source_item
