<p> <%= link_to "Neu", [:new, :admin, :source], class: 'btn btn-primary' %> </p>
<% @container_class = 'container-fluid' %>
<%= datagrid_form_for @grid, method: :get, url: request.path %>

<%= will_paginate(@grid.assets) %>
<%= datagrid_table @grid, html: { class: 'table' } %>
<%= will_paginate(@grid.assets) %>
