<table width="100%" border="0" cellpadding="0" cellspacing="0" class="w100percent">
  <tr>
    <td class="align-top link-content" style="vertical-align:top;padding-bottom:20px">
      <!-- left column -->
      <table border="0" cellspacing="0" cellpadding="0" align="left" width="150">
        <tr>
          <td>
            <center>
              <% if story_image.present? %>
                <a href="<%=link %>"><img class="thumbnail"src="<%= story_image %>" alt="<%= subtitle %>"></a>
              <% end %>

              <% if image.present? %>
                <a href="<%=link %>"><img class="thumbnail"src="<%= image %>" alt="<%= subtitle %>"></a>
              <% end %>
            </center>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <!-- end left column -->

      <!-- right column -->
      <table border="0" cellspacing="0" cellpadding="0" align="left" class="w100percent">
        <tr>
          <td>
            <table border="0" cellspacing="0" cellpadding="0" align="left" class="100percent">
              <tr>
                <td>
                  <h3 class="title seriously-break-word"><a href="<%=link%>" style="color:#328EF5;text-decoration:none;color:#a50000 !important"><%=title %></a></h3>
                  <small> <%= categories %> &ndash; <i><%= truncate subtitle, length: 60 %></i> </small>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <span class="link-description seriously-break-word"><p><%= text %></p></span>
          </td>
        </tr>
      </table>
      <!-- end right column -->
    </td>
  </tr>
</table>
