<style type='text/css'>
  p {
    color:#565656;font-family:'Roboto', Helvetica, Helvetica, Arial, sans-serif;font-style:normal;font-weight:300;letter-spacing:0.04em;font-size:15px;
    line-height:20px;margin-top:4px;margin-bottom:21px;
  }
  h3.title {
    color:#565656;
    font-family:'Roboto', Helvetica, Helvetica, Arial, sans-serif;
    font-style:normal;
    font-weight:300;
    letter-spacing:0.04em;
    font-size:18px;
    line-height:20px;
    margin-bottom:10px;
    word-wrap:break-word;
    word-break:break-word;
    white-space:normal;
    margin-top:0;
    margin-bottom:0;
    color:#a50000 !important;
  }
  h2.section-title {
    color:#565656;font-family:'Roboto', Helvetica, Helvetica, Arial, sans-serif;font-style:normal;font-weight:300;letter-spacing:0.04em;font-size:22px;font-weight:300;margin-bottom:15px;border-bottom:1px solid #e3e3e3;margin-top:30px;padding-bottom:3px;border-color:#C0D7E3 !important;color:#45394D !important;
  }
  .link-description {
    word-wrap:break-word;word-break:break-word;white-space:normal;
  }
  .link-description p {
    color:#565656;
    font-family:'Roboto', Helvetica, Helvetica, Arial, sans-serif;
    font-style:normal;
    font-weight:100;
    font-size:15px;
    line-height:18px;
    margin-top:4px;
    margin-bottom:21px;

  }
  img.thumbnail {
    float:none;max-width:120px;max-height:120px;padding-right:10px;margin-bottom:10px;
  }
</style>



<table class="row" border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100% !important">
  <tr>
    <td>
      <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td class="description alignable-paragraph" style="padding-bottom:30px;text-align:left">
            <p style="">Hallo,</p>
            <p>
              hier einige der relevantesten News aus den abonnierten Themenbereichen.
              <br/>
              Die Newsletter-Einstellungen können <a href='<%= edit_mail_subscription_url(@mailing.subscription) %>'>hier</a> vorgenommen werden.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<h2 class='section-title'>Inhalt</h2>
<% @mailing.categories_with_news.each do |category, stories, total_count| %>
  <a href='#<%=dom_id(category)%>'><%=category.name%> <small>(Top <%= stories.count %> von <%= total_count %> News)</small></a>
  <br />
<% end %>


<!-- links / content -->

<%- @mailing.categories_with_news.each do |category, stories| %>
  <%= render "section_title", title: category.name, id: dom_id(category) %>

  <% stories.each do |story|  %>
    <%= render "entry", title: story.title, image: story.source.logo.present? && image_url(story.source.logo.url(:small)), link: story.url, text: story.teaser, subtitle: story.source.name %>
  <% end %>

<% end %>

<br>
<br>

<table class="row sender-address" border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100% !important">
  <tr>
    <td>
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td class="alignable-paragraph" style="text-align:left">
            <p class="sender-address-text" style="color:#565656;font-family:'Roboto', Helvetica, Helvetica, Arial, sans-serif;font-style:normal;font-weight:300;letter-spacing:0.04em;font-size:15px;line-height:26px;margin-top:4px;margin-bottom:21px;font-size:12px">
              Stefan Wienert · Deutschland
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>



<table class="row unsubscribe" border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100% !important">
  <tr>
    <td>
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td class="alignable-paragraph" style="text-align:left">
            <p class="unsubscribe-text" style="color:#565656;font-family:'Roboto', Helvetica, Helvetica, Arial, sans-serif;font-style:normal;font-weight:300;letter-spacing:0.04em;font-size:15px;line-height:26px;margin-top:4px;margin-bottom:21px">
              <a href="<%= edit_mail_subscription_url(@mailing.subscription) %>" style="color:#a50000 !important">Abbestellen/Einstellungen ändern</a>
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

